.note .form,
.note .save-note,
.editing .text,
.editing .edit-note {
  display: none;
}

.editing .form,
.editing .save-note {
  display: block;
}

.editing .save-note {
  margin-top: 0;
}

.note .form input {
  font-weight: 500;
  font-size: 18px;
}