<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes List App</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="custom.css">
</head>
<body>

    <div class="container">
        <h1>Create a Note</h1>
        <hr>
        <form role="form">
            <div class="form-group">
                <input type="email" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Details"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
        <hr>
    </div>

    <script id="note-template" type="text/template">
        <h3><%= title %></h3>
        <hr>
        <p><%= details %></p>
    </script>

    <script src="jquery.js" ></script>
    <script src="underscore-min.js" ></script>
    <script src="backbone-min.js" ></script>
    <script src="app.js" ></script>
</body>
</html>